html,
body {
	background: black;
}

a {
	display: inline-block !important;
	margin: 5px !important;
	font-family: 'Nixie One', cursive !important;
	text-transform: uppercase;
}

a.bttn-minimal.bttn-xs:hover {
	color: white;
	border-radius: 0px;
	background: red;
}

a:hover,
a:focus {
	text-decoration: none !important;
}

div.jumbotron {
	background-color: rgba(0,0,0,.7);
	background-image: url(https://media.giphy.com/media/Yqn9tE2E00k4U/giphy.gif);
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
}

div.jumbotron h1 {
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	display: inline-block;
	color: white;
	background: red;
	padding: 0px 10px;
}

div.input-group {
	margin-top:20px !important;
}
