@keyframes fadeInUp {
	from {
	  opacity: 0;
	  transform: translate3d(0, 100%, 0);
	}
  
	to {
	  opacity: 1;
	  transform: none;
	}
  }


html,
body {
	background: black;
}

a {
	display: inline-block !important;
	margin: 5px !important;
	font-family: 'Nixie One', cursive !important;
	text-transform: uppercase;
}

a.bttn-minimal.bttn-xs:hover {
	color: white;
	border-radius: 0px;
	background: #4c00ff;
}

a:hover,
a:focus {
	text-decoration: none !important;
}

div.jumbotron {
	background-color: rgba(0, 0, 0, .7);
	background-image: url(https://media.giphy.com/media/Yqn9tE2E00k4U/giphy.gif);
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
}

div.jumbotron h1 {
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	display: inline-block;
	color: white;
	background: red;
	padding: 0px 10px;
}

p {
	display: inline-block;
	font-family: 'Roboto Condensed', sans-serif;
	background: mediumspringgreen !important;
	text-transform: uppercase;
	font-size: 14px;
	color: darkslategrey;
	padding: 3px;
}

div.input-group {
	margin-top: 20px !important;
}

button.glyphicon {
	background: none;
	border: none;
	font-size: 14px;
}

#submit-add.bttn-material-flat.bttn-success {
	background: mediumspringgreen !important;
	color: darkslategrey;
}

div.col-xs-12.col-md-4 {
	animation: fadeInUp .8s;
   overflow: hidden;
}

div.col-xs-12.col-md-4 img {
	display: block;
	cursor: pointer;
}